.container {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}
.container .contentParent {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  height: 0;
  overflow: hidden;
  transition: height ease 0.9s;
  width: 60%;
}
.container .contentShow {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  transition: height ease 1s;
  height: 70px;
  width: 60%;
  overflow: hidden;
}
.container .arrowOpen {
  animation: rotateArrowOpen 1s;
  transform: rotate(270deg);
}
.container .arrowClose {
  animation: rotateArrowClose 1s;
  transform: rotate(0);
}
@keyframes rotateArrowOpen {
  from {
    transform: rotate(0);
  }
  to {
    transform: rotate(270deg);
  }
}
@keyframes rotateArrowClose {
  from {
    transform: rotate(270deg);
  }
  to {
    transform: rotate(0);
  }
}
.container .title {
  display: flex;
  justify-content: space-between;
  align-items: center;
  font-family: Poppins, sans-serif;
  width: 75%;
  height: 33px;
  border-radius: 6px;
  margin: 5px 0;
  cursor: pointer;
}
.container .title .text {
  display: flex;
  align-items: center;
}
.container .title h2 {
  font-weight: 300;
  font-size: 18px;
  margin: 0;
}
.container .title img {
  width: 20px;
  height: 20px;
  margin-left: 10px;
  margin-right: 5px;
}
.container .title .arrow {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-right: 5px;
}
.container .title .arrow img {
  width: 15px;
  height: 15px;
}
.container .title:hover {
  background-color: #3a3939;
}
.container .listItemPaired {
  display: flex;
  justify-content: center;
  align-items: center;
  font-family: Roboto, sans-serif;
  color: #bcbcbc;
  background-color: #484747;
  height: 30px;
}
.container .listItemUnPaired {
  display: flex;
  justify-content: center;
  align-items: center;
  font-family: Roboto, sans-serif;
  color: #bcbcbc;
  background-color: #383838;
  height: 30px;
}
.container .inputBlock {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 100%;
}
.container .inputBlock .input {
  display: flex;
  align-items: center;
}
.container .inputBlock .input .inputField {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 40px;
  height: 20px;
  border: none;
  border-radius: 5px;
  background-color: #585858;
  color: #bcbcbc;
  text-align: center;
}
.container .inputBlock .input .inputField p {
  margin: 0;
  padding-bottom: 2px;
}
.container .inputBlock .input input::-webkit-outer-spin-button,
.container .inputBlock .input input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}
.container .inputBlock .input input {
  width: 35px;
  height: 18px;
  border: none;
  border-radius: 5px;
  background-color: #585858;
  color: #bcbcbc;
  text-align: center;
}
.container .inputBlock .input button {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 20px;
  height: 20px;
  border-radius: 8px;
  border: none;
  font-family: Poppins, sans-serif;
  font-weight: 600;
  margin-left: 3px;
  margin-right: 3px;
  opacity: 0.5;
}
.container .inputBlock .input button:hover {
  opacity: 0.8;
}
.container .inputBlock .input .minus {
  display: flex;
  align-items: center;
}
.container .inputBlock .input .minus button {
  background-color: #a50705;
  margin: 0 3px 0 0;
}
.container .inputBlock .input .plus {
  display: flex;
  align-items: center;
}
.container .inputBlock .input .plus button {
  background-color: #41ad39;
  margin: 0 0 0 3px;
}
.container .inputBlock h3 {
  font-family: Poppins, sans-serif;
  color: #bcbcbc;
  margin: 0 0 0 20px;
  font-weight: 400;
  font-size: 18px;
}

/*# sourceMappingURL=median.module.css.map */
