.container {
  display: grid;
  grid-template-columns: 18% 1fr;
  grid-template-rows: 100%;
  grid-column-gap: 0;
  grid-row-gap: 0;
  height: calc(100vh - 60px);
  background-color: #2b2c2f;
}

.chooseMenu {
  grid-area: 1 / 1 / 2 / 2;
  background-color: #1e1f22;
}

.menu {
  grid-area: 1 / 2 / 2 / 3;
}

